<div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="user-form" routerLinkActive="active">User Form</a>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a routerLink="user-list" routerLinkActive="active">User List </a>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
    <nav></nav>
  </div>
</div>
